<%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>
        <%- include('partials/page_header') %>
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div class="sm-width-wrapper">
            
            <img class="img-fluid pt-4 garnett-headshot" src="/Assets/images/Garnett_Headshot.png" alt="" width="420">
            

                <h3 class="display-3">
                    Garnett Grant
                </h3>
                <div class="lead">
                    <p>
                        I am currently a Junior (2nd year) student at Centennial College School of Engineering and
                        Applied Science <br>
                        studying to be a <i>diliGentt</i> software engineer specializing in Artificial Intelligence.
                        <br>

                        <br> I am intrigued by the unlimited potenial in automating solutions.
                        <br> I aspire to develop a company that specializes in <b>AI Safety.</b> <br>

                        <br>Don't know what that is you say?
                        <br> <br>
                        Stay tuned to find out!
                    </p>
                    <a target="_blank" href="/Assets/Garnett_A_Grant_Resume.pdf">
                        <button class="btn btn-pill btn-dark p-3">
                            View my resume
                        </button>

                </div>
                </a>

            </div>

            <%- include('partials/bottom_nav.ejs') %>


                <%- include('partials/footer.ejs') %>