<%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>

        <%- include('partials/page_header') %>



            <img class="img-fluid" width="450" src="Assets/images/Garnett_Headshot.png"
                alt="Headshot photo of Garnett Grant">
            <div id="description">
                <h1 class="display-1">
                    Garnett Grant
                </h1>
                <p class="lead">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis dolores tempora beatae minus ipsum
                    quidem, aspernatur ad adipisci aperiam expedita delectus quo laborum nulla reiciendis porro, cum
                    enim nemo quod dignissimos repudiandae minima, perferendis ipsam in non? Veritatis eum aliquid
                    laborum possimus est ut dignissimos ea dolorum? Velit, maiores id!
                </p>

            </div>



            <%- include('partials/bottom_nav.ejs') %>
                <%- include('partials/footer.ejs') %>