<%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>

        <%- include('partials/page_header') %>

            <img class="img-fluid" src="/Assets/images/Garnett_Headshot.png" alt="" width="420">
            <p>
                Garnett Grant
            </p>
            <p>
                Junior Software Engineer
            </p>
            <a target="_blank" href="/Assets/Garnett_A_Grant_Resume.pdf">
                <button>
                    View my resume
                </button>
            </a>
            <%- include('partials/bottom_nav.ejs') %>
                <%- include('partials/footer.ejs') %>