<%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>

        <%- include('partials/page_header') %>
        <div id="stars"></div>
        <div id="stars2"></div>
        <div  id="stars3"></div>
            <div>
                <%- include('partials/contact_form') %>
            </div>

            <div>
                <%- include('partials/social_drawer') %>
            </div>
            <div style="padding: 100%">

            </div>

            <%- include('partials/bottom_nav.ejs') %>

                <%- include('partials/footer.ejs') %>