<link rel="stylesheet" href="/Content/teststyles.css">
<%- include('partials/header.ejs') %>

    <%- include('partials/main_nav.ejs') %>

        <%- include('partials/page_header') %>
        <div id="projects" class="projects">

            <div class="block">
                <img class="project-shot" src="/Assets/images/janaehall.png">
            <div class="block-info">
            <h3 class="block-title">Real Estate Agent Website</h3>
            <div class="view-code"><a target="_blank" href="https://garnettgrant.github.io/ggrant18/termProject/index.html" class="visit-site">Visit website</a></div>
            </div>
            </div>
            <div class="project-info">
            <h2><a target="_blank" href="https://garnettgrant.github.io/ggrant18/termProject/index.html">Real Estate Agent Website</a></h2>
            <p class="the-story">
            </p><h3>The Story</h3> 
            For my first semester final project at Centennial College, I was tasked with developing an abstract responsive marketing website for a "real" real estate agent (Try and say that ten times fast!). Thankfully my dear friend, Janae Hall, is a professional within the field and I had the honour to develop one based on her. <p></p>
            <a target="_blank" href="https://garnettgrant.github.io/ggrant18/termProject/index.html">Visit Site</a>
            <div class="technologies">
            <span class="tag">HTML</span><span class="tag">CSS</span>
            </div>
            </div>
            
            <div class="block">
            <img class="project-shot" src="/Assets/images/SRSConsistency.png">
            <div class="block-info">
            <h3 class="block-title">Software Requirements Specifications</h3>
            <div class="view-code"><a target="_blank"href="/Assets/SRS-ConsistencyFinal.pdf" class="visit-site">View SRS</a></div>
            </div>
            </div>
            <div class="project-info">
            <h2><a target="_blank" href="/Assets/SRS-ConsistencyFinal.pdf">Software Requirements Specifications</a></h2>
            <p class="the-story">
            </p><h3>The Breakdown</h3> 
            As a aspiring software engineer it is required that I learn and apply software engineering methodologies and best practices any chance I get and I must say, this challenge of creating an entire SRS document on a theorized solution was quite the learning process but I am glad to of taken part in it. My team of 3 and I developed this Software Requirements Specification Document based on a software concept known as &apos;&apos;Consistency - Application Launcher&apos;&apos;. It's purpose is to  allows users to concisely launch and boost applications from an aesthetically appealing customizable interface, jam-packed with widgets and tools.
            <p></p>
            <a target="_blank" target="_blank" href="/Assets/SRS-ConsistencyFinal.pdf">View SRS</a>
            <div class="technologies">
            <span class="tag">JIRA</span> <span class="tag">MS Word</span> <span class="tag">Visual Paradigm</span> <span class="tag">MS Visio</span> <span class="tag">Discord</span>
            </div>
            </div>
            
            <div class="block">
            <img class="project-shot" src="Assets/images/databasecreation.png">
            <div class="block-info">
            <h3 class="block-title">Blood Bank Database</h3>
            <div class="view-code"><a  target="_blank" href="/Assets/Documentation_SIG.pdf" class="visit-site">View DB Documentation</a></div>
            </div>
            </div>
            <div class="project-info">
            <h2><a href="/Assets/Documentation_SIG.pdf">Blood Bank Database</a></h2>
            <p class="the-story">
            </p><h3>The Issue</h3> 
            For my database course, my team of 3 members including myself decided to develop a database that answered a business requirement: limiting traceability issues. When it comes to blood donation, ensuring accurate information is accessible and infallible is of the upmost importance. We Conceptualized UML/Non-UML Diagrams and constructed a database based on the diagrams. We updated database relationships, contents, and constraints based on testing and we documented the process. The database solution was created with Oracle SQL and all scripts are contained within the PDF attached, including the test reporting scripts.
            <p></p>
            <a target="_blank" href="/Assets/Documentation_SIG.pdf">View DB Documentation</a>
            <div class="technologies">
            <span class="tag">Oracle SQL</span> <span class="tag">Visual Paradigm</span> <span class="tag">MS Visio</span> <span class="tag">MS Word</span> <span class="tag">Discord</span>
            </div>
            </div>
        
            <div class="block">
            <img class="project-shot" src="/Assets/images/cookiemonster.png">
            <div class="block-info">
            <h3 class="block-title">Cookie Monster</h3>
            <div class="view-code"><a  target="_blank" href="https://garnettgrant.github.io/ggrant18/sem2/assignment5/assignment5.html" class="visit-site">Visit Site</a></div>
            </div>
            </div>
            <div class="project-info">
            <h2><a target="_blank"href="https://garnettgrant.github.io/ggrant18/sem2/assignment5/assignment5.html">Cookie Monster!</a></h2>
            <p class="the-story">
            </p><h3>Special Mention</h3> 
            Learning JavaScript means learning reuseability as coding can be a really heavy task. Based on a bug smasher game, I developed a cookie monster, cookie grabbing game with a mouse that turns into cookie monster himself! The goal of the game is endless cookie eating, just as cookie monster would love! He would be proud!
            <p></p>
            <a target="_blank" href="https://garnettgrant.github.io/ggrant18/sem2/assignment5/assignment5.html">Visit Site</a>
            <div class="technologies">
            <span class="tag">HTML</span> <span class="tag">CSS</span> <span class="tag">JavaScript</span>
            </div>
            </div>

            <div class="block">
            <img class="project-shot" src="/Assets/images/thebible.png">
            <div class="block-info">
            <h3 class="block-title">The Bible</h3>
            <div class="view-code"><a  target="_blank" href="https://garnettgrant.github.io/ggrant18/sem2/assignment6/assignment6.html" class="visit-site">Visit Site</a></div>
            </div>
            </div>
            <div class="project-info">
            <h2><a target="_blank"href="https://garnettgrant.github.io/ggrant18/sem2/assignment6/assignment6.html">The Bible</a></h2>
            <p class="the-story">
            </p><h3>New Beginning</h3> 
            It's only right I mention one of the first APIs that I learned to use through a very special means to me, The Bible! Well, an abstract version of it at least. God has been good to me and the wisdom I've been blessed with will defintely always show in my work and I am humbled to be able to develop this simple JSON decoding album that loops through each object found within the JSON file, and displays it with simple jQuery.
            <p></p>
            <a target="_blank" href="https://garnettgrant.github.io/ggrant18/sem2/assignment6/assignment6.html">Visit Site</a>
            <div class="technologies">
            <span class="tag">HTML</span> <span class="tag">CSS</span> <span class="tag">JavaScript</span> <span class="tag">jQuery</span><span class="tag">JSON</span>
            </div>
            </div>
            </div>
            <%- include('partials/bottom_nav.ejs') %>
                <%- include('partials/footer.ejs') %>